.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {        
        width: 240px;
        flex-direction: column;
        align-items: center;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        &_animated {
            animation: heartbeat 2s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            text-decoration: underline;
            color: #ff0000;
            font-weight: 700;
        }
    }
}